# ignore .idea & .gradle folder
java-demo/.idea
java-demo/.gradle
java-demo/build
java-demo/*/.idea
java-demo/*/build
java-demo/*/.gradle
/java-demo/*/build/*

# ignore .idea & .gradle files
java-demo/.idea/*.*
java-demo/build/*.*
java-demo/.gradle/*.*
java-demo/*/.idea/*.*
java-demo/*/build/*.*
java-demo/*/.gradle/*.*
*.class
